<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>组件通讯</title>
</head>

<body>
    <div id="app">
        <div>
            <p>总数：{{total}}</p>
            <my-component @increase="handleTotal" @reduce="handleTotal"></my-component>
        </div>
        <div>
            <p>总数：{{total2}}</p>
            <my-component2 v-model="total2"></my-component2>
        </div>
        <div>
            <p>总数：{{total3}}</p>
            <my-component3 v-model="total3"></my-component3>
            <button @click="handleReduce2">-1</button>
        </div>
        <div>
            <p>{{message}}</p>
            <component-a></component-a>
        </div>
        <div>
            <button @click="handleRef">通过ref获取子组件实例</button>
            <component-b ref="comA"></component-b>
            <p ref=p>内容</p>
        </div>
    </div>


    <script src="./node_modules/vue/dist/vue.js"></script>
    <script>
        const bus = new Vue();

        Vue.component('my-component', {
            template: `
                <div>
                    <button @click="handleIncrease">+1</button>
                    <button @click="handleReduce">-1</button>
                </div>
            `,
            data() {
                return {
                    counter: 0
                }
            },
            methods: {
                handleIncrease() {
                    this.counter++;
                    this.$emit('increase', this.counter)
                },
                handleReduce() {
                    this.counter--;
                    this.$emit('reduce', this.counter)
                }
            }
        })

        Vue.component('my-component2', {
            template: `<button @click="handleClick">+1</button>`,
            data() {
                return {
                    counter: 0
                }
            },
            methods: {
                handleClick() {
                    this.counter++;
                    this.$emit('input', this.counter)
                }
            }
        })

        Vue.component('my-component3', {
            props: ['value'],
            template: `<input :value="value" @input="updateValue">`,
            methods: {
                updateValue(event) {
                    this.$emit('input', event.target.value)
                }
            }
        })

        Vue.component('component-a', {
            template: `<button @click="handleEvent">传递事件</button>`,
            methods: {
                handleEvent() {
                    bus.$emit('on-message', '来自组件component-a的内容')
                }
            }
        })

        Vue.component('component-b',{
            template:`<div>子组件</div>`,
            data(){
                return {
                    message:'子组件内容'
                }
            }
        })
        const app = new Vue({
            el: '#app',
            data: {
                total: 0,
                total2: 0,
                total3: 0,
                message: ''
            },
            methods: {
                handleTotal(total) {
                    this.total = total
                },
                handleReduce2() {
                    this.total3--;
                },
                handleRef(){
                    let msg = this.$refs.comA.message;
                    console.log(msg)
                    let msg2 = this.$refs.p
                    console.log(msg2)
                }
            },
            mounted() {
                bus.$on('on-message', meg => {
                    this.message = meg
                })
            }
        })
    </script>
</body>

</html>